.App {
  text-align: center;
}

.GameBoard {
  max-width: 395px;
  height: 395px;
  margin: 50px auto;
}

.Square {
  display: inline-block;
  width: 19%;
  margin: 0.5%;
  height: 19%;
  background: #03707b;
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
}