.App {
  text-align: center;
}

.GameBoard {
  max-width: 395px;
  margin: 35px auto;
}

.Square {
  display: inline-block;
  width: 19%;
  margin: 0.5%;
  height: 75px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  vertical-align: top;
}

.Square.light{
  background: #03707b;
}

.Square.dark{
  background: #014950;
}

.Square.disabled{
  cursor: default;
}

.InfoField{
  max-width: 395px;
  margin: 20px auto auto auto;
}

.Timer{
  width: 65%;
  float: left;
}

.CurrentNumber{
  width: 35%;
  float: right;
}

.Timer > span,
.CurrentNumber > span{
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #014950;
}

.Timer div,
.CurrentNumber div{
  width: 100px;
  background: #014950;
  font-size: 30px;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
}

.Timer div {
  width: 200px;
}

.FinishMessage{
  padding-top: 50px;
}

.FinishMessage h2{
  font-size: 35px;
  margin: 5px 0;
}

.FinishMessage h3 {
  margin: 0;
}

.FinishMessage .Score{
  color: #dc351b;
  font-size: 50px;
}

.RestartButton {
  cursor: pointer;
  background: #e09e09;
  width: 100px;
  margin: auto auto 20px auto;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media only screen and (max-width: 400px) {
  .Timer div,
  .CurrentNumber div {
    width: 90%;
    padding: 10px 0;
  }

  .CurrentNumber div {
    width: 100%;
  }

  .hideSmallScreen{
    display: none !important;
  }
}